@import "colors.css";

/*****RESET*****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****GENERAL*****/

body{
    font-family: 'Montserrat', sans-serif;
}

/*****MAIN*****/

main{
    display: flex;
}

.main-container{
    height: 100%;
    overflow-y: auto;
}

/*****FOOTER*****/



/*****RESPONSIVE*****/



/*****DEBUG*****/

.debug main{
    height: calc(100vh - 6.25rem);
    background-color: var(--main-color);
}

.debug footer{
    height: 6.25rem;
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 50px;
}

.debug aside{
    background-color: black;
    width: 12.5rem;
}

.debug section{
    background-color: var(--main-color);
    width: calc(100% - 12.5rem);
}

.debug header{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    color: white;
    padding: 1.5625rem;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 12.5rem);
}

